h1:focus {
  outline: none;
}

html {
  font-size: 15px;
  position: relative;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a {
  word-break: break-all;
  text-decoration: none;
  cursor: pointer;
  color: #d53e07;
}

.active {
  color: black;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  color: #fffdd0;
}

.ul-projects a:hover {
  color: unset;
}

a:link {
  text-decoration: none !important;
}

.navbar-brand {
  color: #fffdd0;
}

li {
  /* Убираем маркеры */
  list-style-type: none;
}

ol,
ul,
h2,
h4 {
  padding-left: 0;
  margin-bottom: 0;
}

.header {
  grid-area: head;
  position: sticky;
  top: 0;
  z-index: 1;
  /*background-color: #f8f9fa!important;*/
  background: rgb(216, 167, 29, 0.75);
  background-color: rgb(255, 253, 208, 0.75);
}

.title,
.navbar {
  margin: auto;
  max-width: 80rem;
  padding: 0 20px;
}

.nav-link a {
  text-decoration: none;
  transition: color 0.2s linear;
  color: black;
}

.base {
  display: grid;
  grid-template-areas:
    "head"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.center {
  min-height: 100vh;
}

.grid {
  padding: 0 20px 20px 20px;
  max-width: 1024px;

  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas: "main aside";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  font-family: "AvantGarde";
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
}

.heading {
  grid-area: heading;
  margin-bottom: 0.5rem;
}

/*Main*/
main,
footer {
  color: #fffdd0;
  background-color: black;
}

.outer-wrapper {
  /*min-height: 100vh;*/
  display: grid;
  grid-template-areas:
    "heading"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: start;
  row-gap: 20px;

  padding: 0 20px;
  max-width: 80rem;

  width: 100%;
  margin: auto;

  font-family: "AvantGarde";
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;

  padding-bottom: 1rem;
}

.main-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/*Home*/
.home {
  /*height: 50vh;*/
  grid-area: home;
  display: grid;
  grid-template-columns: 10% 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  display: none;
}

.about {
  display: grid;
  grid-area: about;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 1rem;
}

.photo {
  grid-column: 1 / 2;
  margin: auto;
  text-align: center;
}

.photo img {
  max-width: 100%;
  border-radius: 10px;
}

.about-text {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  grid-area: experience;
  margin-bottom: 1rem;
}

.education {
  grid-area: education;
}

.grants {
  grid-area: grant;
}

.awards {
  grid-area: award;
}

.certifications {
  grid-area: certificat;
/
}

.frame {
  display: grid;
  grid-template-areas:
    "skills projects"
    "contacts interest"
    "certs certs";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

/*Main*/
.aside {
  position: relative;

  display: grid;
  grid-template-areas:
    "contacts"
    "block"
    "skill"
    "language"
    "course"
    "projects"
    "interest";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: start;
  border-radius: 10px;
  background-color: gray;
  background-color: #fffdd0;

  margin-bottom: 20px;
}

.aside + .aside {
  margin-bottom: 1rem;
}

.contacts,
.projects,
.interests,
.skills,
.certs {
  border-radius: 10px;
  background-color: gray;
  background-color: #fffdd0;
  color: black;
  padding: 0 0 0 20px;
}

.contacts {
  grid-area: contacts;
  margin-top: 0px;
}

.ul-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.block {
  position: absolute;
  width: 100%;
  border-top: 55px solid white;
  margin-top: 270px;
}

.skills {
  grid-area: skills;
}

.languages {
  grid-area: language;
}

.courses {
  grid-area: course;
}

.ul-courses li {
  margin-bottom: 5px;
}

.projects {
  grid-area: projects;
}

.interests {
  grid-area: interest;
}

.projects,
.contacts,
.skills,
.interests {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.certs {
  padding-bottom: 2rem;
}

.ul-projects {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.ul-projects li a {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.ul-projects h3 {
  padding-bottom: unset;
}

.ul-projects .icon {
  width: 24px;
  height: 24px;
}

.ul-skills,
.ul-interests {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.certs {
  grid-area: certs;
}

.ul-certs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/**/
.footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: max-content;
  justify-content: center;
}

.icons {
  justify-self: end;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.icon {
  width: 44px;
  height: 44px;
}

.icon-aws {
  height: 50px;
  transition: 1s; 
}

.icon-aws:hover {
  scale: 2; 
  translate: (0, 50%);
}

.position-year {
  display: flex;
  justify-content: space-between;
}

.position {
  justify-self: center;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;

  font-stretch: ultra-condensed;

}

.company {
  justify-self: center;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  font-stretch: ultra-condensed;
}

.year {
  justify-self: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  font-stretch: ultra-condensed;
}

.sub-heading {
  padding: 1rem 0rem 0.5rem 0rem;
}

@media (max-width: 1024px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .aside {
    padding: 0 10px;
  }

  .photo img {
    max-width: 75%;
  }
}

@media (max-width: 640px) and (min-width: 577px) {
  .sk {
    display: none;
  }
}

@media (max-width: 576px) and (min-width: 576px) {
  .aw {
    display: none;
  }
}

@media (max-width: 650px) {
  .photo img {
    max-width: 100%;
  }

  .outer-wrapper {
    font-size: 0.9rem;
  }

  .company,
  .year {
    font-size: 1rem;
  }

  .position-year {
    flex-direction: column;
    align-items: flex-start;
  }

  .company {
    align-self: flex-start;
  }

  .position {
    font-size: 18px;
  }

  .icon-aws {
    height: 40px;
  }
}

@media (max-width: 576px) {
  .block {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .grid {
    grid-template-areas:
      "main"
      "aside";
    grid-template-columns: 1fr;
    padding: 0 10px 0 10px;
  }

  .aside {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    grid-template-areas:
      "block"
      "skills"
      "language"
      "course"
      "projects"
      "interest"
      "contacts";
  }

  .contacts,
  .skills,
  .projects {
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .ul-contacts {
    flex-direction: row;
    justify-content: space-between;
  }

  .ul-certs {
    column-gap: 2rem;
  }

  .heading {
    font-weight: 700;
  }

  .frame {
    grid-template-areas:
      "skills"
      "projects"
      "interest"
      "contacts"
      "certs";
    grid-template-columns: 1fr;
  }
}



@font-face {
  font-family: "AvantGarde";
  src: url("/static/fonts/AvantGardeRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RodchenkoCond";
  src: url("/static/fonts/RodchenkoCondRegular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RodchenkoCondBold";
  src: url("/static/fonts/RodchenkoCondBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
