{% extends 'base.html' %} {% block content %}
<div id="education" class="education">
  <h2 class="heading">EDUCATION</h2>
  <div class="education-content">
    <div class="info">
      <div class="position">Pre-Doctoral program</div>
      <div class="position-year">
        <a href="https://www.uc.pt/cemmpre/" target="_blank">
          <div class="company">
            Centre for Mechanical Engineering, Materials and Processes, Comibra,
            Portugal
          </div>
        </a>
        <div class="year">Jan. 2021 – Aug. 2021</div>
      </div>
    </div>

    <div class="info">
      <div class="position">Mathematician-programmer</div>
      <div class="position-year">
        <a
          href="https://bsu.by/en/structure/faculties/kafedry/faculty-of-advanced-training-and-retraining-d"
          target="_blank"
        >
          <div class="company">
            Belarusian State University, Faculty of advanced training and
            retraining, Minsk, Belarus
          </div>
        </a>
        <div class="year">Oct. 2008 – June 2009</div>
      </div>
    </div>

    <div class="position">Master in Manufacturing Technology</div>
    <div class="position-year">
      <a href="https://www.psu.by/en/" target="_blank">
        <div class="company">
          Polotsk State University, Novopolotsk, Belarus
        </div>
      </a>
      <div class="year">Oct. 2004 – June 2005</div>
    </div>

    <div class="position">Master in Manufacturing Engineering</div>
    <div class="position-year">
      <a href="http://en.bru.by/" target="_blank">
        <div class="company">
          Belarusian-Russian University, Mogilev, Belarus
        </div>
      </a>
      <div class="year">Sept. 1999 – June 2004</div>
    </div>

    <div class="position">
      Diploma of Specialized Secondary Education in Electrical Engineering
    </div>
    <div class="position-year">
      <a href="https://ogkjt.bsut.by/#" target="_blank">
        <div class="company">
          Orsha State College of Railway Transport, Belarus
        </div>
      </a>
      <div class="year">Sept. 1995 – June 1999</div>
    </div>
  </div>
</div>
{% endblock %}
