{% extends 'base.html' %}

{% block content %}
<div id="awards" class="awards">
    <h2 class="heading">AWARDS</h2>
    <div class="content">
        Awarded the first prize in Republican contest of students' scientific works
        of
        higher education institutions of the Republic of Belarus for the scientific research paper
        'Finite Element modelling of orthogonal metal cutting process by the tool with anti-wear
        coating', 2005
    </div>
</div>
<div id="grants" class="grants">
    <h2 class="heading">GRANTS</h2>
    <div class="content">
        <strong>Title:</strong> 'Synthesis of ceramic composite coatings on metals
        with
        increased strength and anticorrosion properties by micro-arc oxidation'<br><strong>
            Project
            number:
        </strong> 18-73-00025
    </div>
    <div class="content">
        <strong>Title:</strong> 'Experimental and theoretical study of nonlinear
        dynamic effects of cluster formation during surface and subsurface destruction in
        tribological systems at nano- and
        meso-scale levels'<br><strong>Project number:</strong> 10-08-00966
    </div>
</div>
<div id="certifications" class="certifications">
    <h2 class="heading">CERTIFICATIONS</h2>
    <ol class="subheading">
        <li>
            <a class="active" href="https://ielts.ucles.org.uk/ielts-trf/welcome.html">
                <strong>
                    International
                    English Language Testing System (IELTS), British Council, 2021
                </strong>
            </a>
        </li>
        <li lang="pt">
            O nível А2 do curso de Português Língua de AcolhimentoO nível А2 do curso de
            Português Língua de Acolhimento, Centro de Emprego е Formação Profissional de Coimbra,
            2021
        </li>
    </ol>
</div>
{% endblock %}