<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/iconmonstr-cv-4.svg') }}"
    />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- custom CSS-->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <title>{% block title %}CV{% endblock %}</title>
  </head>
  <body>

    <div class="">
     
      <header class="header">
        <div class="grid">
          <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index')}}">ABOUT</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a
                    class="nav-link text-dark"
                    href="{{ url_for('education') }}"
                    >EDUCATION</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-dark"
                    href="{{ url_for('experience') }}"
                    >EXPERIENCE</a
                  >
                </li>
                <!--
              <li class="nav-item">
                <a
                  class="nav-link text-dark"
                  href="{{ url_for('education') }}"
                  >EDUCATION</a
                >
              </li>
              -->
                <!--
              <li class="nav-item aw">
                <a
                  class="nav-link text-dark"
                  asp-area=""
                  asp-page="/Index"
                  href="{{ url_for('awards') }}"
                  >AWARDS</a
                >
              </li>
              -->
                <!--
                <li class="nav-item sk">
                <a
                  class="nav-link text-dark"
                  asp-area=""
                  asp-page="/Index"
                  href="{{ url_for('skills') }}"
                  >SKILLS</a
                >
              </li>
            -->
                <!--
              <li class="nav-item">
                <a
                  class="nav-link text-dark"
                  asp-area=""
                  asp-page="/Index"
                  href="{{ url_for('projects') }}"
                  >PROJECTS</a
                >
              </li>
              -->
                <li class="nav-item">
                  <a
                    class="nav-link text-dark"
                    asp-area=""
                    asp-page="/Index"
                    href="{{ url_for('publications') }}"
                    >PUBLICATIONS</a
                  >
                </li>
                <!--
              <li class="nav-item">
                <a
                  class="nav-link text-dark"
                  asp-area=""
                  asp-page="/Index"
                  href="{{ url_for('contacts') }}"
                  >CONTACTS</a
                >
              </li>
              -->
                <li class="nav-item">
                  <a
                    class="nav-link text-dark"
                    asp-area=""
                    asp-page="/Index"
                    href="{{ url_for('ifc') }}"
                    >ifc</a
                  >
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>

      <div class="grid">
        <main class="main">
          <div class="">
            <h2 class="heading">{% block header %}{% endblock header %}</h2>
            <div>{% block content %}{% endblock content %}</div>
          </div>
        </main>
      </div>

      <footer class="footer bg-white border-top text-muted">
        <ul id="contacts" class="icons">
          <li class="container text-dark">&copy; 2023 - Sergey Sychev</li>
        </ul>
      </footer>

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
