{% extends 'base.html' %}

{% block content %}
<div class="grid">
<main class="main">
<div id="education" class="education">
    <h2 class="heading">EDUCATION</h2>
    <div class="education-content">
        <div class="position">Mathematician-programmer</div>
        <a href="https://bsu.by/en/structure/faculties/kafedry/faculty-of-advanced-training-and-retraining-d" target="_blank">
            <div class="company">Belarusian State University, Faculty of advanced training and retraining, Minsk, Belarus</div>
        </a>
        <div class="">2008 – 2009</div>
        <div class="position">Master in Manufacturing Technology</div>
        <a href="https://www.psu.by/en/" target="_blank">
            <div class="company">Polotsk State University, Novopolotsk, Belarus</div>
        </a>
        <div class="">2004 – 2005</div>

        <div class="position">
            Master in Manufacturing
            Engineering
        </div>
        <a href="http://en.bru.by/"
           target="_blank">
            <div class="company">
                Belarusian-Russian
                University, Mogilev, Belarus
            </div>
        </a>
        <div class="">1999 – 2004</div>

        <div class="position">
            Diploma of Specialized Secondary Education in Electrical
            Engineering
        </div>
        <a href="https://ogkjt.bsut.by/#"
           target="_blank">
            <div class="company">Orsha State College of Railway Transport, Belarus</div>
        </a>
        <div class="">1995 – 1999</div>
    </div>
</div>
</main>
</div>
{% endblock %}