{% extends 'base.html' %} {% set active_page = "experience" %} {% block title
%}EXPERIENCE{% endblock title %} {% block favicon %}<link
  rel="icon"
  type="image/x-icon"
  href="{{ url_for('static', filename='images/work.svg') }}"
/>{% endblock %} {% block header %}WORK EXPERIENCE{% endblock header %} {% block
content %}
<div class="outer-wrapper">
  <div class="main-container">
    {% for item in data %}
    <div class="info">
      <div>
        <a href="{{ item.link }}" target="_blank">
          <div class="position">{{ item.position }}</div>
        </a>
      </div>
      <div class="position-year">
        <div class="company">{{ item.company }}<br /></div>
        <div class="year">{{ item.years }}</div>
      </div>
      <div class="subheading">
        <div>{{ item.job }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!--
<div class="info">
      <a href="https://gle.ru/eng/" target="_blank">
      <div class="position">Chief Specialist</div>
      </a>
      <div class="position-year">
        <a href="https://gle.ru/eng/" target="_blank">
          <strong class="company">
            GLE LLC, St. Petersburg, Russia<br />
          </strong>
        </a>
        <div class="year">Nov. 2022 – Present</div>
      </div>
      <div class="subheading">
        <div>Analyzing project data in BIM.</div>
      </div>
    </div>

    <div class="info">
      <div class="position">BIM Manager</div>
      <div class="position-year">
        <a href="https://bpsinternational.de/en" target="_blank">
          <strong class="company">
            BPS International GmbH, Munich, Germany<br />
          </strong>
        </a>
        <div class="year">Feb. 2022 – Nov. 2022</div>
      </div>
      <div class="subheading">
        <div>Analyzing project data in BIM.</div>
      </div>
    </div>
    
    <div class="info">
      <div class="position">BIM Manager</div>
      <div class="position-year">
        <a href="https://rencons.com/?lang=en" target="_blank">
          <strong class="company">
            Renaissance Construction, St. Petersburg, Russia<br />
          </strong>
        </a>
        <div class="year">Apr. 2018 – Sept. 2021</div>
      </div>
      <div class="subheading">
        <div>
          Development and approval of BIM Execution Plans (BEPs) and Employer's
          Information Requirements (EIRs). Managing the project Common Data
          Environments (CDE) using BIM 360. Preparation of BIM models and asset
          information for handover to client. Attending coordination meetings.
        </div>
      </div>
    </div>

    <div class="info">
      <div class="position">Leading Specialist</div>
      <div class="position-year">
        <a href="https://rusal.ru/en/" target="_blank">
          <strong class="company">
            JSC «RUSAL VAMI», St. Petersburg, Russia<br />
          </strong>
        </a>
        <div class="year">Mar. 2017 – Apr. 2018</div>
      </div>
      <div class="subheading">
        <div>
          Implementation of BIM technology in the internal business processes of
          the company and ensuring the effective work of BIM team. BIM software
          selection and evaluation. Ensure ongoing development and
          implementation of standards, templates and libraries.
          Identify/undertake training needs when require.
        </div>
      </div>
    </div>

    <div class="info">
      <div class="position">Design Engineer</div>
      <div class="position-year">
        <a href="https://www.techno-systems.ru/" target="_blank">
          <strong class="company">
            TechnoSystems Company Ltd, St. Petersburg, Russia<br />
          </strong>
        </a>
        <div class="year">July 2016 – Mar. 2017</div>
      </div>
      <div class="subheading">
        <div>
          Development of equipment and professional solutions for the safe
          discharge, transportation, storage, transshipment, bunkering,
          accounting, measurement and delivery of liquid, bulk and gaseous
          cargo.
        </div>
      </div>
    </div>

    <div class="info">
      <div class="position">BIM Coordinator</div>
      <div class="position-year">
        <a href="https://spectrum-group.ru/en/" target="_blank">
          <strong class="company"
            >Spectrum Group, St. Petersburg, Russia<br /></strong
        ></a>
        <div class="year">Oct. 2015 – Mar. 2016</div>
      </div>
      <div class="subheading">
        <div>
          Support the BIM manager in all activities. Support project team on BIM
          tools and uses. Supporting projects with implementing 3D coordination
          and federation, visualization, 4D animations, 5D quantity take-off and
          costs. Prepare BIM Execution Plan for Projects.
        </div>
      </div>
    </div>

    <div class="info">
      <div class="position">BIM Specialist</div>
      <div class="position-year">
        <a href="http://kbvips.ru/node/387" target="_blank">
          <strong class="company"
            >JSC KB VIPS, St. Petersburg, Russia<br
          /></strong>
        </a>
        <div class="year">Jan. 2015 – Oct. 2015</div>
      </div>
      <div class="subheading">
        <div>
          Implementation BIM modelling technology. Assistance with clash
          detection and conflict resolution using Navisworks. Undertaking
          modelling exercises in Revit to assist the site team.
        </div>
      </div>
    </div>

    <div class="info">
      <div class="position">Senior Developer</div>
      <div class="position-year">
        <a href="https://english.spbstu.ru/" target="_blank">
          <strong class="company"
            >Peter the Great St.Petersburg Polytechnic University (SPbPU), St.
            Petersburg, Russia<br
          /></strong>
        </a>
        <div class="year">Sept. 2013 – July 2015</div>
      </div>
      <div class="subheading">
        <div>TBD</div>
      </div>
    </div>

    <div class="info">
      <div class="position">Senior Engineer</div>
      <div class="position-year">
        <a href="https://english.spbstu.ru/" target="_blank">
          <strong class="company"
            >Peter the Great St.Petersburg Polytechnic University (SPbPU), St.
            Petersburg, Russia<br
          /></strong>
        </a>
        <div class="year">Sept. 2010 – Sept. 2013</div>
      </div>
      <div class="subheading">
        <div>TBD</div>
      </div>
    </div>

    <div class="info">
      <div class="position">Engineer</div>
      <div class="position-year">
        <a href="https://english.spbstu.ru/" target="_blank">
          <strong class="company"
            >Peter the Great St.Petersburg Polytechnic University (SPbPU), St.
            Petersburg, Russia<br
          /></strong>
        </a>
        <div class="year">Oct. 2009 – Sept. 2010</div>
      </div>
      <div class="subheading">
        <div>TBD</div>
      </div>
    </div>
    -->
