{% extends 'base.html' %}

{% block content %}
<div class="grid">
<main class="main">
<div id="experience" class="experience">
    <h2 class="heading">WORK EXPERIENCE</h2>
    <div class="experience-content">
        <div class="position">BIM Manager</div>
        <div class="year">2022 – present</div>
        <strong class="company">

        </strong>
        <div class="subheading">
            <div>Analyzing project data in BIM.</div>
        </div>

        <div class="position">BIM Manager</div>
        <a href="https://rencons.com/?lang=en" target="_blank">
            <strong class="company">
                Renaissance Construction, St. Petersburg,
                Russia<br>
            </strong>
        </a>
        <div class="year">2018 – 2021</div>
        <div class="subheading">
            <div>
                Development and approval of BIM Execution Plans (BEPs) and
                Employer's Information Requirements (EIRs). Managing the
                project Common Data Environments (CDE) using BIM 360. Preparation of BIM models and
                asset
                information for handover to client. Attending coordination meetings.
            </div>
        </div>

        <div class="position">BIM Manager</div>
        <a href="https://rusal.ru/en/" target="_blank">
            <strong class="company">
                JSC «RUSAL VAMI», St. Petersburg,
                Russia<br>
            </strong>
        </a>
        <div class="year">2017 – 2018</div>
        <div class="subheading">
            <div>
                Implementation of BIM technology in the internal business
                processes of the company and ensuring the effective work of
                BIM team. BIM software selection and evaluation. Ensure ongoing development and
                implementation of standards, templates and libraries. Identify/undertake training needs
                when require.
            </div>
        </div>

        <div class="position">Design Engineer</div>
        <a href="https://www.techno-systems.ru/" target="_blank">
            <strong class="company">
                TechnoSystems Company Ltd, St. Petersburg,
                Russia<br>
            </strong>
        </a>
        <div class="year">2016 – 2017</div>
        <div class="subheading">
            <div>
                Development of equipment and professional solutions for the safe
                discharge, transportation, storage, transshipment,
                bunkering, accounting, measurement and delivery of liquid, bulk and gaseous cargo.
            </div>
        </div>

        <div class="position">BIM Coordinator</div>
        <a href="https://spectrum-group.ru/en/" target="_blank"><strong>Spectrum Group, St. Petersburg, Russia<br></strong></a>
        <div class="year">2015 – 2016</div>
        <div class="subheading">
            <div>
                Support
                the
                BIM manager in all activities. Support project team on BIM tools and uses. Supporting
                projects with
                implementing 3D coordination and federation, visualization, 4D animations, 5D quantity
                take-off and costs. Prepare BIM Execution Plan for Projects.
            </div>
        </div>

        <div class="position">BIM Specialist</div>
        <a href="http://kbvips.ru/node/387" target="_blank">
            <strong>
                JSC KB VIPS, St. Petersburg,
                Russia<br>
            </strong>
        </a>
        <div class="year">2014 – 2015</div>
        <div class="subheading">
            <div>
                Implementation
                BIM modelling technology. Assistance with clash detection and conflict resolution using
                Navisworks.
                Undertaking modelling exercises in Revit to assist the site team.
            </div>
        </div>

        <div class="position">Design Engineer</div>
        <strong>LLC «Ecostroy», St. Petersburg, Russia<br></strong>
        <div class="year">2010 – 2014</div>
        <div class="subheading">
            <div>
                Design
                pipe
                systems for transporting petroleum products.
            </div>
        </div>
    </div>
</div>
</main>
</div>
{% endblock %}

