{% extends 'base.html' %} {% block content %}

<div id="about" class="about">
  <div class="photo">
    <img
      src="{{ url_for('static', filename='images/IMG_7201.jpg') }}"
      alt="me"
    />
  </div>
  <div class="about-text">
    <h1 class="heading">SERGEY SYCHEV</h1>
    <div class="subheading">
      My initial education was related to Manufacturing Engineering, as well as
      the machining and cutting tools design. Then after graduating from the
      University, I was enrolled in a Master's degree program in the field of
      machining. In the following, I enrolled in a part-time course at the
      faculty of Applied Mathematics and Computer Science. For some years having
      been engaged in the implementation of information technologies (BIM) in
      construction (AEC) I am looking for aportunity to get into IT in order to
      combine my previous experience in engineering and computer skills and
      knowledge.
    </div>
  </div>
</div>

<div class="frame">
  <!--
  <aside class="aside">

  </aside>

  <aside class="aside">

  </aside>
  -->

  <div id="contacts" class="contacts">
    <h2 class="heading">CONTACTS</h2>
    <ul class="text-dark">
      <li>
        <a href="mailto:sergeysychou@gmail.com" target="_blank"
          ><img
            class="icon"
            src="{{ url_for('static', filename='images/gmail.svg') }}"
            alt="icon-email"
        /></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/sergey-sychev-5742a3bb/"
          target="_blank"
        >
          <img
            class="icon"
            src="{{ url_for('static', filename='images/in.svg') }}"
            alt="icon-linkedin"
          />
        </a>
      </li>
      <li>
        <a href="https://orcid.org/0000-0001-8213-7374" target="_blank">
          <img
            class="icon"
            src="{{ url_for('static', filename='images/orcid.svg') }}"
            alt="icon-orcid"
          />
        </a>
      </li>
      <li>
        <a href="https://github.com/sesychev" target="_blank">
          <img
            class="icon"
            src="{{ url_for('static', filename='images/github.svg') }}"
            alt="icon-github"
          />
        </a>
      </li>
    </ul>
  </div>

  <div id="projects" class="projects">
    <h2 class="heading">IT PROJECTS</h2>
    <ul class="ul-projects">
      <li>
        <a href="https://sesychev-online-store.netlify.app/" target="_blank">
          <img
            class="icon"
            src="{{ url_for('static', filename='images/store.svg') }}"
            alt="icon-store"
          /><strong>Online Store</strong>
        </a>
      </li>
      <li>
        <a
          href="https://rolling-scopes-school.github.io/sesychev-JSFEEN2022Q3/book-shop/"
          target="_blank"
        >
          <img
            class="icon"
            src="{{ url_for('static', filename='images/book.svg') }}"
            alt="icon-book"
          /><strong> Books shop </strong>
        </a>
      </li>
      <li>
        <a
          href="https://rolling-scopes-school.github.io/sesychev-JSFEEN2022Q3/online-zoo/pages/main/"
          target="_blank"
        >
          <img
            class="icon"
            src="{{ url_for('static', filename='images/travel.svg') }}"
            alt="icon-zoo"
          /><strong>Online-zoo</strong>
        </a>
      </li>
      <li>
        <a
          href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q3/songbird/"
          target="_blank"
        >
          <img
            class="icon"
            src="{{ url_for('static', filename='images/bird.svg') }}"
            alt="icon-bird"
          /><strong>Songbird</strong>
        </a>
      </li>
      <li>
        <a
          href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q3/gem-puzzle/"
          target="_blank"
        >
          <img
            class="icon"
            src="https://upload.wikimedia.org/wikipedia/commons/b/bd/15-Puzzle_2.svg"
            alt="icon-gem"
          /><strong>Gem Puzzle</strong>
        </a>
      </li>
      <li>
        <a
          href="https://rolling-scopes-school.github.io/sesychev-JSFEPRESCHOOL2022Q2/travel/"
          target="_blank"
        >
          <img
            class="icon"
            src="{{ url_for('static', filename='images/favicon.svg') }}"
            alt="icon-travel"
          /><strong>Travel</strong>
        </a>
      </li>
      <li>
        <a
          href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q1/shelter/pages/main/"
          target="_blank"
        >
          <img
            class="icon"
            src="{{ url_for('static', filename='images/owl.svg') }}"
            alt="icon-shelter"
          /><strong>Shelter</strong>
        </a>
      </li>
      <li>
        <a href="https://sesychev.github.io/rsschool-cv/" target="_blank">
          <img
            class="icon"
            src="{{ url_for('static', filename='images/iconmonstr-cv-4.svg') }}"
            alt="icon-cv"
          /><strong>Personal web page</strong>
        </a>
      </li>

      <li>
        <a href="https://www.youtube.com/watch?v=8tOjCOtdWkk" target="_blank">
          <img
            class="icon"
            src="{{ url_for('static', filename='images/youtube-svgrepo-com.svg') }}"
            alt="icon-cv"
          /><strong>TechnoSystems Company Ltd</strong>
        </a>
      </li>
    </ul>
  </div>

  <div id="interests" class="interests">
    <h2 class="heading">RESEARCH INTERESTS</h2>
    <ul class="ul-iterests">
      <li>Acoustic Emission (AE)</li>
      <li>Artificial Intelligence</li>
      <li>Data Analysis/Science</li>
      <li>Digital signal processing (DSP)</li>
      <li>Digital Twins</li>
      <li>Finite Element Analysis (FEA)</li>
      <li>Industrial Internet of Things (IIoT)</li>
      <li>Industry 4.0/5.0</li>
      <li>Machine Learning</li>
    </ul>
  </div>

  <div id="skills" class="skills">
    <h2 class="heading">TECHNICAL SKILLS</h2>
    <h4>BIM and 3D Modelling</h4>
    <ul class="ul-slills">
      <li>SolidWorks</li>
      <li>Autodesk AutoCAD/Navisworks/Revit</li>
    </ul>
    <h4>Programming</h4>
    <ul class="ul-slills">
      <li>Docker/AWS</li>
      <li>Matlab</li>
      <li>.NET/C#</li>
      <li>HTML/CSS</li>
      <li>NoSQL/MongoDB</li>
      <li>Python/Pandas/Flask REST API/FastAPI</li>
      <li>JavaScript/TypeScript/React/Node.js/Express</li>

    </ul>
    <!--
    <h4>Lab</h4>
    <ul class="ul-slills">
      <li>Acoustic Emission Testing (AET)</li>
      <li>Tribology</li>
      <li>Vibration</li>
      <li>Wavelets</li>
    </ul>
    -->
  </div>
</div>

{% endblock %}
