{% extends 'base.html' %}

{% block content %}
<aside class="aside">
<div id="projects" class="projects">
    <h2 class="heading">IT PROJECTS</h2>
    <ul class="ul-projects">
        <li>
            <a href="https://sesychev-online-store.netlify.app/" target="_blank">
                <img class="icon"
                     src="/images/store.svg" alt="icon-store"><strong>Online Store</strong>
            </a>
        </li>
        <li>
            <a href="https://rolling-scopes-school.github.io/sesychev-JSFEEN2022Q3/book-shop/"
               target="_blank">
                <img class="icon" src="/images/book.svg" alt="icon-book"><strong>
                    Books
                    shop
                </strong>
            </a>
        </li>
        <li>
            <a href="https://rolling-scopes-school.github.io/sesychev-JSFEEN2022Q3/online-zoo/pages/main/"
               target="_blank">
                <img class="icon" src="/images/travel.svg"
                     alt="icon-zoo"><strong>Online-zoo</strong>
            </a>
        </li>
        <li>
            <a href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q3/songbird/"
               target="_blank">
                <img class="icon" src="/images/bird.svg"
                     alt="icon-bird"><strong>Songbird</strong>
            </a>
        </li>
        <li>
            <a href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q3/gem-puzzle/"
               target="_blank">
                <img class="icon"
                     src="https://upload.wikimedia.org/wikipedia/commons/b/bd/15-Puzzle_2.svg"
                     alt="icon-gem"><strong>Gem Puzzle</strong>
            </a>
        </li>
        <li>
            <a href="https://rolling-scopes-school.github.io/sesychev-JSFEPRESCHOOL2022Q2/travel/"
               target="_blank">
                <img class="icon" src="/images/favicon.svg"
                     alt="icon-travel"><strong>Travel</strong>
            </a>
        </li>
        <li>
            <a href="https://rolling-scopes-school.github.io/sesychev-JSFE2022Q1/shelter/pages/main/"
               target="_blank">
                <img class="icon" src="/images/owl.svg"
                     alt="icon-shelter"><strong>Shelter</strong>
            </a>
        </li>
        <li>
            <a href="https://sesychev.github.io/rsschool-cv/"
               target="_blank">
                <img class="icon" src="/images/iconmonstr-cv-4.svg"
                     alt="icon-cv"><strong>Personal web page</strong>
            </a>
        </li>
    </ul>
</div>
</aside>
{% endblock %}